#hero{
    width: 100vw;
    height: 100vh;
    background-image: url('Common/Img/background1.png');
    background-size: 300vw;
    background-position:center;
    background-repeat: repeat-y;
    @include flexCenter();

    #wrapper{
        width: 100%;
        height: 90vh;
        // border: 1px solid red;
        margin: 0 auto;
        overflow: scroll;
    } 
}

@include iPadLand{
    #hero{
        background-size: 140vw;
        #wrapper{
            width: 90%;
            height: 100vh;
            align-self: flex-start;
        }
    }
}

@include LaptopVersion {
    #hero{
        margin: 0 auto;
        width: 100vw;
        background-size: contain;
        background-repeat: no-repeat;

        #wrapper{
          align-self:center;
          width: 50%;
          height: 90vh;
        } 
    }
}

@include Full1080pVersion {
    #hero{
        #wrapper{
            overflow: unset;
            width: 40%;
        }
    }
}