@mixin iPadPort {
    @media (min-width:768px){
      @content;
    }
  }
  
@mixin iPadLand {
    @media (min-width:1024px){
        @content;
}
}

@mixin LaptopVersion {
    @media (min-width:1440px){
        @content;
    }
}

@mixin Full1080pVersion {
    @media (orientation:landscape) and (min-width:1920px){
        @content;
    }
}