body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #010001;
    
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'got font';
  src: url('Common/Fonts/Game\ of\ Thrones.ttf');
}
.errorMsg{
  color:rgb(255, 255, 255);
}
@import './Common/CSS/MediaQueryMixins';
@import './Common/CSS/CustomMixins';
@import './Common/CSS/Hero';
@import './Logo/CSS/Logo';
@import './Houses/CSS/RegionsList';
@import './SearchBar/CSS/searchBar';
@import './Houses/CSS/HousesList';
@import './Houses/CSS/HouseInfo';