body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010001;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'got font';
  src: url("Common/Fonts/Game of Thrones.ttf");
}

.errorMsg {
  color: white;
}

#hero {
  width: 100vw;
  height: 100vh;
  background-image: url("Common/Img/background1.png");
  background-size: 300vw;
  background-position: center;
  background-repeat: repeat-y;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero #wrapper {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  overflow: scroll;
}

@media (min-width: 1024px) {
  #hero {
    background-size: 140vw;
  }
  #hero #wrapper {
    width: 90%;
    height: 100vh;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 1440px) {
  #hero {
    margin: 0 auto;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #hero #wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
    height: 90vh;
  }
}

@media (orientation: landscape) and (min-width: 1920px) {
  #hero #wrapper {
    overflow: unset;
    width: 40%;
  }
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logo h1 {
  color: whitesmoke;
  font-size: clamp(1em, 1.5em, 2.5em);
  font-family: 'got font';
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-shadow: 2px 2px black;
}

#logo h1 span:nth-child(1) {
  color: #92e6ee;
}

#logo h1 span:nth-child(2) {
  color: #e3afae;
}

#logo img {
  width: 15vw;
}

@media (min-width: 1024px) {
  #logo img {
    width: 10vw;
  }
}

@media (min-width: 1440px) {
  #logo img {
    width: 8vw;
  }
}

@media (orientation: landscape) and (min-width: 1920px) {
  #logo img {
    width: 5vw;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5vw;
  position: relative;
}

main section {
  padding-bottom: 2vw;
}

main section img {
  width: 35vw;
  border: 2px solid black;
  border-radius: 100px;
}

main section img:hover {
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
  cursor: pointer;
}

@media (min-width: 768px) {
  main section img {
    width: 25vw;
  }
}

@media (min-width: 1024px) {
  main {
    margin-top: 0;
  }
  main section img {
    width: 15vw;
  }
}

@media (min-width: 1440px) {
  main {
    margin-top: 0;
  }
  main section {
    margin: .5vw;
  }
  main section img {
    width: 8vw;
  }
}

@media (orientation: landscape) and (min-width: 1920px) {
  main section {
    margin: 0;
  }
  main section img {
    width: 7vw;
  }
}

fieldset {
  color: white;
  margin-bottom: .5vw;
}

@media (orientation: landscape) and (min-width: 1920px) {
  fieldset input {
    width: 10vw;
  }
}

.button {
  border: 2px solid #ffffff;
  height: 4vh;
  width: 20vw;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin-top: 3vw;
  margin-bottom: 0.1vw;
  color: whitesmoke;
  font-size: clamp(1em, 3vw, 1.5em);
}

.button::after {
  content: "Exit";
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #ffffff;
}

.button:hover::after {
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc, 0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
}

@media (min-width: 1024px) {
  .button {
    margin-top: 1vw;
    width: 8vw;
  }
  .button::after {
    top: 8%;
    left: 50%;
  }
}

@media (min-width: 1440px) {
  .button {
    width: 6vw;
  }
  .button::after {
    top: 12%;
  }
}

#HousesContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: absolute;
  background-color: black;
  border-radius: 50px;
  border: 1px solid whitesmoke;
}

#HousesContainer #HousesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}

#HousesContainer #HousesFlex .House {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(10vw, 25vw, 40vw);
  height: 10vh;
  font-family: 'got font';
  font-size: clamp(0.5em, 0.7vw, 1em);
  text-align: center;
  color: black;
  line-height: 1.7em;
  letter-spacing: 1px;
  margin: 1vw;
  border: 1px solid #464444;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: clamp(0.2vw, 1vw, 2vw);
}

#HousesContainer #HousesFlex .House:hover {
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
  cursor: pointer;
}

@media (min-width: 1024px) {
  #HousesContainer #HousesFlex .House {
    width: clamp(10vw, 23vw, 40vw);
  }
}

@media (min-width: 1440px) {
  #HousesContainer #HousesFlex .House {
    margin: .3vw;
    width: clamp(6vw, 10vw, 40vw);
  }
}

@media (orientation: landscape) and (min-width: 1920px) {
  #HousesContainer #HousesFlex .House {
    width: clamp(4vw, 7vw, 12vw);
    padding: clamp(0.2vw, 0.7vw, 2vw);
  }
}

#HouseInfoContainer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'got font';
  text-align: center;
  border-radius: 50px;
}

#HouseInfoContainer #HouseName {
  padding: .5vw;
  font-size: clamp(0.8em, 1vw, 2em);
  line-height: 2em;
  letter-spacing: .2em;
}

#HouseInfoContainer ul {
  line-height: 2em;
  letter-spacing: .2em;
  width: 90%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(0.8em, 0.7vw, 1.5em);
}
/*# sourceMappingURL=index.css.map */