@import './ButtonEffect';
#HousesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: black;
    border-radius: 50px;
    #HousesFlex{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: scroll;
        .House{
            @include flexCenter();
            width: clamp(10vw, 25vw, 40vw);
            height: 10vh;
            font-family: 'got font';
            font-size: clamp(0.5em, 1.5vw, 1em);
            text-align: center;
            color: black;
            line-height: 1.7em;
            letter-spacing: 1px;
            margin:1vw;
            border: 1px solid rgb(70, 68, 68);
            border-radius: 10px;
            background-color: whitesmoke;
            padding: clamp(0.2vw, 1vw, 2vw);
            &:hover{
                box-shadow: 0 0 20px rgb(255, 255, 255);
                cursor: pointer;
            }
        }
    }
}

@include iPadLand{
    #HousesContainer{
        #HousesFlex{
            .House{
                width: clamp(10vw, 23vw, 40vw);
            }
        }
    }
}

@include LaptopVersion{
    #HousesContainer{
        #HousesFlex{
            .House{
                width:clamp(6vw, 10vw, 40vw);
            }
        }
    }
}

@include Full1080pVersion {
    #HousesContainer{
        #HousesFlex{
            .House{
                margin: 0.3vw;
                width: clamp(4vw, 7vw, 12vw);
                padding: clamp(0.2vw, 1.5vw, 2vw);
            }
        }
    }
}