#HouseInfoContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'got font';
    text-align: center;
    
    #HouseName{
        padding: .5vw;
        font-size: clamp(0.8em, 1vw, 2em);
        line-height: 2em;
        letter-spacing: .2em;
    }
    ul {
        line-height: 2em;
        letter-spacing: .2em;
        width: 90%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: clamp(0.8em, 0.7vw, 1.5em);;
    }
}